{layout name="layout" /}
<div class="ROW" style="margin-top:100px; ">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				站点管理
			</div>
			<div class=" list-group">
				<a class="list-group-item active" >
					站点设置
				</a>
				<a class="list-group-item">
					短链管理
				</a>
			</div>
		</div>		
	</div>
	<DIV class="col-md-8">
		<div class="row" style="border-radius: 5px;border: 1px solid #ADADAD">
			<div class="row">
				<h2 class="col-md-4"><small>短链总数:</small>{$count}</h2>

			</div>
			<hr/>
				<form method="post" action="">
				<div class="row"><div class="col-md-4">	
					<div class="input-group" style="margin: 10px;">
						<div class="input-group-addon">站点名称</div>
						<input type="text" name="site_name" value="{$site['site_name']}" class="form-control">
					</div>
				</div></div>
				<div value="{$site['add_p']}" class="hide"></div>
				<div class="row"><div class="col-md-4">		
						<select class="form-control" name="add_p" id="xx" style="margin: 10px;">
  							<option value="1" id="ad_top" >顶部</option>
 							<option value="2" id="ad_bot" >底部</option>
						</select>
				</div></div>
				<div class="row">
					<div class="col-md-8">
						<h3 style="margin: 10px;">
							广告代码
						</h3>		
						<textarea style="margin: 10px;height: 200px;" class="form-control" name="add_code">{$site['add_code']}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<h3 style="margin: 10px;">
							屏蔽域名
						</h3>		
						<textarea style="margin: 10px;height: 200px;" class="form-control" name="domain">{$site['domain']}</textarea>
					</div>
				</div>
				<button class="btn btn-danger" style="margin: 10px;" >提交修改</button>
				</form>
		</div>
	</DIV>
</div>
<script type="text/javascript">
	var cho=$(".hide").attr("value");
	console.log(cho);
	if(cho==1){
		$("#xx").val(1);
	}else{	
		$("#xx").val(2);
	}

</script>