{layout name="layout" /}
<div class="ROW" style="margin-top:100px; ">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				站点管理
			</div>
			<div class=" list-group">
				<a class="list-group-item " href="/index.php/index/Admin/index">
					站点设置
				</a>
				<a  class="list-group-item active" href="">
					短链管理
				</a>
			</div>
		</div>		
	</div>
	<DIV class="col-md-8">
		<div class="row" style="border-radius: 5px;border: 1px solid #ADADAD">
			<table class="table table-hover">
				<tr>
					<TH>id</TH>
					<th>短链</th>
					<th>原网址</th>
					<th>点击</th>
					<th>删除</th>
				</tr>
				{volist name="listall" id="vo"}
					<tr>
						<td>{$vo.lid}</td>
						<td>{$vo.short}</td>
						<td width="65%" style="word-wrap:break-word;word-break:break-all;">{$vo.original}</td>
						<td>{$vo.click}</td>
						<td><a href="?d={$vo.lid}"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>

					</tr>
				{/volist}
			</table>
		</div>
		<div class="row">
			<center>{$listall->render()}</center>
		</div>
	</DIV>
</div>