{layout name="layout" /}
<div class="row">
	<div class="col-md-4 col-md-offset-4" style="margin-top: 150px;">
		<div class="panel panel-primary">
			<div class="panel-heading">后台</div>
			<div class="panel-body">
				<form action="" method="post">
					<input type="text" name="name" class="form-control" style="margin: 5px;" placeholder="用户名">
					<input type="password" name="password" class="form-control" style="margin: 5px;" placeholder="密码">
					<button class="btn btn-danger" style="margin: 5px;">登入</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("body").css("background","#EAEAEA");
</script>